<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{isLogin ? 'Login' : 'Sign Up'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item lines="full">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input name="email" type="email" ngModel required minlength="6"
                                   #emailCtrl="ngModel" [(ngModel)]="name"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" class="validMessage">Put right email format</ion-item>
                    <ion-item lines="full">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input name="password" type="password" ngModel required #passwordCtrl="ngModel" [(ngModel)]="pass"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" class="validMessage">Password should be 6 character long</ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="4" offset-sm="4">
                    <ion-button type="button" expand="block" fill="clear" (click)="onSwitch()">
                        Switch to SignOut
                    </ion-button>
                    <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">
                        {{isLogin ? 'Login' : 'Sign Up'}}
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [routerLink]="['/forgot-password']" class="ion-text-center" size-sm="6" offset-sm="3"><a>Forgot
                    Password?</a></ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
<!--  z krecacym sie kolkiem w przycisku
         <ion-row>
          <ion-col>
            &lt;!&ndash;<ion-spinner *ngIf="isLoading"></ion-spinner>&ndash;&gt;
            <ion-button type="submit" color="danger" expand="block" (click)="onLogin()">
              <ion-spinner *ngIf="isLoading"></ion-spinner>
              <p *ngIf="!isLoading">LOGIN</p>
            </ion-button>
            <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
          </ion-col>
        </ion-row>-->
